tsa-find-help lightbox-module {
  width: 664px;
  height: 406px;
  display: block;
}
lightbox-module .modal__content {
  width: 100%;
}
.use-location a {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 769px) {
  tsa-find-help lightbox-module {
    width: 100%;
    height: 100%;
  }
  tsa-find-help .input span {
    font-size: 1.2rem;
  }
  .use-location a {
    font-size: 1.2rem;
  }
}