.cta {
    width: 30rem;
    margin-top: 2rem;
    z-index: 40;

    & .cta__primary {
        margin-bottom: 1rem;
    }

    & .cta__secondary {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & button {
            flex: 1;
        }
    }

    & .cta__secondary button:first-of-type {
        margin-right: 1rem;
    }

}

@media (min-width:640px) {
    .hero {
        & .content {
            & h1 {
                font-size: 6.4rem;
            }
        }
    }
}