.btn {
    font-family: "Montserrat", serif;
    border: none;
    border-radius: .6rem;
    cursor: pointer;
    color: var(--color-base-light);
    transition: all .3s ease-out;
}

.btn:disabled {
    opacity: 55%;
    pointer-events: none;
}

/* **** Colors **** */

.btn--primary--fill {
    background-color: var(--color-primary);
}

.btn--primary--fill:hover {
    background-color: var(--color-primary-light);
}

.btn--success--fill {
    background-color: var(--color-status-success);
}

.btn--success--fill:hover {
    background-color: var(--color-status-success-dark);
}

.btn--danger--fill {
    background-color: var(--color-status-danger);
}

.btn--danger--fill:hover {
    background-color: var(--color-status-danger-dark);
}

.btn--info--fill {
    background-color: var(--color-status-info);
}

.btn--info--fill:hover {
    background-color: var(--color-status-info-dark);
}

.btn--warning--fill {
    background-color: var(--color-status-warning);
}

.btn--warning--fill:hover {
    background-color: var(--color-status-warning-dark);
}

.btn--light--fill {
    background-color: var(--color-base-light);
    border: 1px solid var(--color-base-dark);
    color: var(--color-base-dark);
}

.btn--light--fill:hover {
    background-color: var(--color-gray);
    border-color: var(--color-secondary-blue);
}

.btn--light--fill:disabled {
    border-color: var(--color-secondary-blue-dark);
    color: var(--color-base-dark);
}

.btn--dark--fill {
    background-color: var(--color-base-dark);
}

.btn--dark--fill:hover {
    background-color: var(--color-gray);
}

.btn--dark--fill:disabled {
    background-color: var(--color-secondary-blue-dark);
}

/* **** Variants **** */
.btn--primary--outline {
    background-color: var(--color-base-light);
    border: 1px solid var(--color-primary);
    color: var(--color-base-dark);
}

.btn--primary--outline:hover {
    background-color: var(--color-primary-light);
    color: var(--color-base-light);
}

/* **** Sizes **** */

.btn--small {
    padding: 1.2rem 1.4rem;
}

.btn--medium {
    padding: 1.6rem 1.8rem;
}

.btn--large {
    padding: 2rem 2.2rem;
}