.btn {
    font-family: "Montserrat", serif;
    border: none;
    border-radius: .6rem;
    cursor: pointer;
    color: var(--color-base-light);
    transition: all .3s ease-out;
}

.btn:disabled {
    opacity: 55%;
    pointer-events: none;
}

/* **** Variants **** */

.btn--primary {
    background-color: var(--color-primary);
}

.btn--primary:hover {
    background-color: var(--color-primary-light);
}

.btn--success {
    background-color: var(--color-status-success);
}

.btn--success:hover {
    background-color: var(--color-status-success-dark);
}

.btn--danger {
    background-color: var(--color-status-danger);
}

.btn--danger:hover {
    background-color: var(--color-status-danger-dark);
}


.btn--light {
    background-color: var(--color-base-light);
    border: 1px solid var(--color-base-dark);
    color: var(--color-base-dark);
}

.btn--light:hover {
    background-color: var(--color-gray);
    border-color: var(--color-secondary-blue);
}

.btn--light:disabled {
    border-color: var(--color-secondary-blue-dark);
    color: var(--color-base-dark);
}

.btn--dark {
    background-color: var(--color-base-dark);
}

.btn--dark:hover {
    background-color: var(--color-gray);
}

.btn--dark:disabled {
    background-color: var(--color-secondary-blue-dark);
}


/* **** Sizes **** */

.btn--small {
    padding: 1.2rem 1.4rem;
}

.btn--medium {
    padding: 1.6rem 1.8rem;
}

.btn--large {
    padding: 2rem 2.2rem;
}