.header-location__list {
  display: flex;
  align-items: center;

  & li {
    font-size: 1.6rem;

    & a {
      color: #fff;
      text-decoration: none;
    }
  }

  & > * {
    margin-right: 3rem;
  }

  & :last-child {
    margin-right: 0;
  }
}
