.tsa-switch {
    border: 1px solid #000;
    border-radius: 30rem;
    width: 5.5rem;
    height: 3rem;
    position: relative;
    cursor: pointer;
    background-color: transparent;

    & .tsa-switch__thumb {
        position: absolute;
        top: 50%;
        bottom: 0;
        left: 0.25rem;
        border-radius: 100%;
        transform: translateY(-50%);
        width: 2.5rem;
        height: 2.5rem;
        background-color: #000;
        color: #FFF;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: .8rem;
        transition: all .3s ease-out;
    }

    & .tsa-switch__label {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: .8rem;
        font-weight: 600;
        color: var(--color-gray);

        & :first-child {
            opacity: 0;
        }

        & :last-child {
            opacity: 1;
        }

        & span {
            transition: all .2s ease;
        }
    }

    & input {
        display: none;
    }
}

.tsa-switch[toggled] .tsa-switch__thumb {
    left: 2.6rem;
}

.tsa-switch[toggled] .tsa-switch__label {
    & :first-child {
        opacity: 1;
    }

    & :last-child {
        opacity: 0;
    }
}