#content {
    display: grid;
    row-gap: 2.6rem;
    margin-bottom: 2.6rem;
}

#cta {
    display: flex;
    align-content: center;
    justify-content: center;
}

@media (min-width: 840px) {
    #content {
        grid-template-columns: auto auto;
        column-gap: 2.6rem;
    }
}



@media (min-width: 1280px) {
    #content {
        grid-template-columns: auto auto auto;
    }
}