:root {
    --color-primary: #ed1c2b;
    --color-primary-light: #f14955;
    --color-primary-lighter: #f47780;

    --color-secondary-blue: #28abe2;
    --color-secondary-light: #dfedf0;
    --color-secondary-blue-dark: #2a313f;
    --color-secondary-blue-light: #555a65;

    --color-status-success: #28a745;
    --color-status-success-dark: #146C43;
    --color-status-danger: #dc3545;
    --color-status-danger-dark: #B02A37;
    --color-status-info: #17a2b8;
    --color-status-info-dark: #087990;
    --color-status-warning: #ffc107;
    --color-status-warning-dark: #997404;

    --color-gray: #5a5d5d;
    --color-gray-medium: #999999;
    --color-gray-dark: #313435;
    --color-gray-light: #afb7bb;
    --color-gray-lighter: #eff1f0;

    --color-base-light: #fff;
    --color-base-dark: #000;

    --color-green: #22b573;

    --shadow-small: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    --shadow-regular: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
    --shadow-large: 0px 8px 35px 0px rgba(0, 0, 0, 0.25);
}