.tsa-title {
    font-size: 28px;
    font-family: "Cinzel", serif;
    font-weight: 200;
    text-align: center;
}

@media (min-width: 840px) {
    .tsa-title {
        font-size: 38px;
    }
}

@media (min-width: 1280px) {
    .tsa-title {
        font-size: 48px;

    }
}