.text-with-icon {
    display: flex;

    & i {
        font-size: 30px;
        margin-right: .6rem;
    }

    & h6 {
        font-size: 20px;
        font-weight: 600;
        align-self: center;
    }

}