.tsa-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .tsa-header__logo {
        margin-right: auto;
        display: flex;
        align-items: center;

        & :first-child {
            margin-right: .5rem;
        }
    }

    & .tsa-header__input {
        position: relative;

        & i {
            position: absolute;
            top: 50%;
            left: 1rem;
            transform: translateY(-50%);
            font-size: 2.3rem;
        }

        & input {
            padding-left: 4rem;
            width: 30rem;
        }
    }

    & .tsa-header__cta {

        & :first-child {
            margin-right: 1.2rem;
        }
    }

    &>* {
        margin-right: 1.4rem;
    }

    & :last-child {
        margin-right: 0;
    }
}